﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <style>
        .toast-top-center {
            top: 12px;
            margin: 0 auto;
            left: 50%;
            margin-left: -150px;
            width: 200px;
        }
    </style>
</head>
<body>
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4"><i class="fas fa-clipboard-list"></i>YAPILACAKLAR</h1>
                </div>
                @RenderBody()

            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script src="~/bootstrap-sweetalert/swal-forms.js"></script>
    <script src="~/bootstrap-sweetalert/ui-sweetalert.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>


    <script>
        $(document).ready(function () {
            $(function () {
                $('input[data-val-date]').removeAttr('data-val-date');
                $('input[data-val]').removeAttr('data-val');
                $('.datetimepicker').datetimepicker({ format: 'DD.MM.YYYY HH:mm:ss', sideBySide: true });
            });
            toastr.options.closeButton = true;
            toastr.options.timeOut = 1500;
            $.ajax({
                method: "POST",
                url: '/ToDoList/GetExpiredItems/',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].ToDoItems.length > 0) {
                            for (var j = 0; j < data[i].ToDoItems.length; j++) {
                                toastr.warning("<strong>" + data[i].ToDoItems[j].Content + "</strong>" + " maddesi için zaman doldu.", data[i].Title);
                            }
                        }
                        else {
                            continue;
                        }
                    }
                }
            });
        });

        $('.delete').click(function () {

            var itemId = $(this).attr('value');
            var _url = "";
            if ($(this).attr('name').includes("list")) {
                _url = "/ToDoList/DeleteConfirmed";
            }
            else {
                _url = "/ToDoItem/DeleteConfirmed";
            }
            swal({
                title:
                    "Silmek istediğinize emin misiniz?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Evet',
                cancelButtonText: "Hayır"
            },
                function (isConfirm) {
                    if (!isConfirm) {
                        return false;
                    } else {
                        $.ajax({
                            type: "POST",
                            url: _url,
                            data: { id: itemId },
                            success: function () {
                                toastr.success("Silme işlemi başarılı!");
                                setTimeout(function () { location.reload(); }, 1000);
                            },
                            error: function () {
                                toastr.error("Silme işlemi başarısız!");
                                return false;
                            }
                        });
                    }
                }
            );
        });

        $("#DueDate").change(function () {

            var dueDate = new Date($("#DueDate").val());

            if (Date.now < dueDate) {
                toastr.error("Lütfen bugün ya da sonrası için bir tarih giriniz.!");
            }
        });
    </script>
</body>
</html>
