﻿@model ToDoListTrial.ViewModels.ToDoListViewModel

@{
    ViewBag.Title = "Yapılacaklar";
    Layout = "~/Views/Layout.cshtml";
}

<div align="center">
    <p>
        @Html.ActionLink("Yeni Liste", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>

<div class="container">
    <div class="card-deck text-center">
        <div class="card-columns">
            @foreach (var item in Model.ToDoLists)
            {
                <div class="card border-primary">

                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.CreateDate) tarihinde oluşturuldu.</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        @foreach (var toDoItem in item.ToDoItems)
                        {
                            <li class="list-group-item" @(toDoItem.DueDate <= DateTime.Now ? "style=color:red; title=Expired!" : "")>@Html.DisplayFor(modelItem => toDoItem.Content)</li>
                        }
                    </ul>
                    <div class="card-body">
                        <a class="card-link text-white btn btn-success active text-center" href="@Url.Action("Index", "ToDoItem", new { toDoListId = item.Id })"> Detay </a> |
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                        <button name="delete-list" value="@item.Id" class="btn btn-danger delete"> Sil </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
