﻿@model ToDoListTrial.Models.ToDoItem

@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm())
    {

        <div class="form-horizontal">
            <h4>Yeni</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2" for="Content">İçerik</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="DueDate">Bitiş Tarihi</label>
                <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control datetimepicker"})
                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Ekle" class="btn btn-success" />
                    @Html.ActionLink("Geri Dön", "Index", new { Model.ToDoListId }, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    }
</div>

