﻿@model ToDoListTrial.ViewModels.ToDoListViewModel

@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    @if (Model.ToDoListId > 0)
    {

        <h2>@Model.ToDoListTitle</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        İçerik
                    </th>
                    <th>
                        Bitiş Tarihi
                    </th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ToDoItems)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                            <button name="delete-item" value="@item.Id" class="btn btn-danger delete"> Sil </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Yeni", "Create", new { Model.ToDoListId }, new { @class = "btn btn-primary" })
            <a class="btn btn-info" href="@Url.Action("Index", "ToDoList")">Yapılacaklara Dön</a>
        </p>
    }
    else
    {
        <h2>@Model.Message</h2>
    }
</div>
